* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#screen-display{
    height: 100vh;
    width: 100vw;
    /* background-color: cyan; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen-display>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Stopwatch container styles */

#screen-display> div{
    position: absolute;
    z-index: 1;
    height: 45%;
    width: 60%;
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

#timer-container>h1{
    color: white;
    font-size: 4.5rem;
    text-shadow: 0 0 5px slategray;
    margin: 2rem 0;
    letter-spacing: 0.3rem;
}

#controls{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
}

#controls button{
    border-style: none;
    border: 2px solid white;
    border-radius: 2rem;
    color: whitesmoke;
    background-color: transparent;
    height: 3rem;
    width: 9rem;
    letter-spacing: 0.2rem;
}

#controls button:hover{
    scale: 1.1;
    box-shadow: 0px 0px 6px 4px slategray;
    text-shadow: 0 0 3px slategray;
    font-weight: 300;
    text-transform: capitalize;
}

/* .btn{
    width: 60%;
    margin-left: 20%;
} */

/* .row{
    margin: 2rem 0;
    
} */
